body {
    background-color: #121212;
    color: #e0e0e0;
}

.navbar, .footer {
    background-color: #1f1f1f;
}

.header, .section {
    background-color: #1f1f1f;
}

a.nav-link {
    color: #e0e0e0;
}

a.nav-link:hover {
    color: #ffffff;
}